# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

*           @googleapis/yoshi
/elixir     @googleapis/yoshi-elixir
/go         @googleapis/yoshi-go
/java       @googleapis/yoshi-java @googleapis/cloud-java-team-teamsync
/node       @googleapis/jsteam
/python     @googleapis/yoshi-python
/ruby       @googleapis/ruby-team
/php        @googleapis/yoshi-php
