# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

*           @googleapis/cloud-client-library-release-automation-team
/elixir     @googleapis/yoshi-elixir @googleapis/cloud-client-library-release-automation-team
/go         @googleapis/cloud-sdk-go-eng @googleapis/cloud-client-library-release-automation-team
/java       @googleapis/yoshi-java @googleapis/cloud-java-team-teamsync @googleapis/cloud-client-library-release-automation-team
/node       @googleapis/jsteam @googleapis/cloud-client-library-release-automation-team
/python     @googleapis/yoshi-python @googleapis/cloud-client-library-release-automation-team
/ruby       @googleapis/ruby-team @googleapis/cloud-client-library-release-automation-team
/php        @googleapis/yoshi-php @googleapis/cloud-client-library-release-automation-team
/syft       @googleapis/cloud-client-library-release-automation-team
