# Code owners file.
# This file controls who is tagged for review for any given pull request.
#
# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

*           @googleapis/cloud-sdk-platform-team
/elixir     @googleapis/cloud-sdk-platform-team-elixir @googleapis/cloud-sdk-platform-team
/go         @googleapis/cloud-sdk-go-eng @googleapis/cloud-sdk-platform-team
/java       @googleapis/cloud-sdk-java-team @googleapis/cloud-sdk-platform-team
/node       @googleapis/jsteam @googleapis/cloud-sdk-platform-team
/python     @googleapis/cloud-sdk-platform-team-python @googleapis/cloud-sdk-platform-team
/ruby       @googleapis/ruby-team @googleapis/cloud-sdk-platform-team
/php        @googleapis/cloud-sdk-platform-team-php @googleapis/cloud-sdk-platform-team
/syft       @googleapis/cloud-sdk-platform-team
